<div class="tile is-ancestor">
  <% @metars.each_with_index do |metar, i| %>
  <div class="tile is-parent">
    <article class="tile is-child box tooltip notification <%= metar[1].css_class %>" data-tooltip="<%= metar[1].raw_text %>">
      <p class="title is-4 has-text-centered"><%= metar[1].station_id %></p>
    </article>
  </div>
  <% if (i + 1) % 7 == 0 %>
</div>
<div class="tile is-ancestor">
  <% end %>
<% end %>
