<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Metar Map</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        Metar Map Web
      </h1>
      <% @metar.each do |metar| %>
      <article class="message <%= metar[1].css_class %>">
        <div class="message-header">
          <p><%= metar[1].station_id %></p>
        </div>
        <div class="message-body">
          <p><%= metar[1].raw_text %></p>
          <p><small>Last updated: <%= @last_updated %> seconds ago"</small></p>
        </div>
      </article>
      <% end %>
    </div>
  </section>
  </body>
</html>
