[Unit]
Description=Metar Map Web Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/metar_map/server
ExecStart=npm start
Restart=on-failure

[Install]
WantedBy=multi-user.target
