[Unit]
Description=Metar Map Web Service
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/root/metar_map/metar_map/server
ExecStart=npm start
Restart=on-failure
Environment=ENV=PROD

[Install]
WantedBy=multi-user.target
